# Dual-purpose config file for Python and GMTSAR
# Python-specific headers will override legacy options specified for GMTSAR below

#############################################
# Python configparser module section header for automated processing
[py-config]

# satellite options: currently ERS, ENVI, ALOS, ALOS2, S1, TSX
sat_name = S1

# only for ALOS2
scansar = False

# specify subswath (for Sentinel-1 only)
s1_subswath = 1,2,3

# specify whether to use enhanced spectral diversity (S1 only)
# new in 5.8: also set mode for esd. 0 for average, 1 for median, 2 for interpolation"
s1_use_esd = True
s1_esd_mode = 1

# orbit directory/ies (S1 only - as a comma separated list)
s1_orbit_dir = /home/bigdata/orbits/S1

# processing stages: 1=preprocess, 2=align, 3=topo_ra, 4=interferograms.
startstage = 1
endstage  =  3

# if restart is false, the code will not delete any files previously created for that stage (data.in, align.in, intf.in)
# generally, you should leave restart set to True.
restart = True

# parallel processing options (for python multiprocessing option only. MPI uses the number specified at runtime)
num_processors = 1
#num_processors = 32

# alignment options. Optional: specify a pre-configured alignment file.
# TODO: Make this work more like the intf.in file, with a GMTSAR-standard align.in. Currently it is a different format (list of commands) that is hard to manually edit
align_file =

# interferogram options.
# if intf file is specified, will use only the interferograms specified there and ignore the other options
# it should be in the time-ordered format Scene1:Scene2, i.e. time(Scene2) > time(Scene1)
# if intf file is not specified, one named 'intf.in' will be created at runtime, based on the other parameters here
# you can later edit that file and place its name here for subsequent runs.
intf_file =
# create all interferograms with time/baseline span less than these values.
# timespan units: days. baseline units: meters
max_timespan = 48 
max_baseline = 3000
# whether to re-do interferograms that have already been run
skip_finished = False
# if the timespan / baseline threshold is too small, this will ensure all scenes are connected to one forward and backward scene
intf_min_connectivity = 2

# new unwrapping options
interp_unwrap  = 1
detrend_unwrap = 0
topo_assisted_unwrapping = 0

# end Python-specific configuration.
#############################################
# timeseries portion
[timeseries-config]

# timeseries options: NSBAS or SBAS (and eventually PS)
ts_type = NSBAS
# minimum number of good igrams for nsbas, or -1 for full-rank pixels only
nsbas_min_intfs = -1

#### Key Configuration: location of zero pixel, and reference box half-width (in number of pixels)
reflat = -8.55
reflon = 115.30
refnum = 10

# location of dates directories
intf_dir = merge
#name of grid file (unwrapped phase in radians)
unwrap_file = unwrap_mask_ll_pad.grd
#how to read the coordinates in grd file - either 'xy' or 'lonlat'
grdnaming = xy

#name of PRM file (to read satellite wavelength)
prm_file = topo/master.PRM

#name of intf file
intf_file = intf.in

#name of baseline table file
baseline_file = raw/baseline_table.dat

#rate calc. options
calcrate = True

#de-trending options
detrend = True
trendparams = 3
# name of GPS velocity file, optional to be used for de-trending
gps_file =
constrainedtrend = False

#check for unwrapping errors using cycle voting method: minimum number of votes to keep pixel
unw_check_threshold = 2

# whether to plot the final results
makeplots = False


#############################################
# original GMTSAR portion
[csh-config]
# This is an example configuration file for batch processing
#
# all the comments or explanations are marked by "#" 
# The parameters in this configuration file is distinguished by their first word so 
# user should follow the naming of each parameter.
# the parameter name, = sign, parameter value should be separated by space " ". 
# leave the parameter value blank if using default value. 
#

#######################################
# processing stage for intf_batch.csh #
#######################################
# 1 - start from make topo_ra (don't use, this is now done automatically before intf_batch)
# 2 - start from make and filter interferograms
# 3 - start from unwrap
# 4 - start from geocode (Sentinel only)
proc_stage = 2

# master granule to use in preprocessing and alignment. Format is the full name, eg. IMG-HH-ALPSRP048370010-H1.0__A
# if left blank, gmtsar_app.py will run preprocessing twice and choose master to be an image near the center of the baseline-time plot
master_image = 

#########################################
#   parameters for preprocess           #
#   - pre_proc_batch.csh                #
#   first 4 parameters are OPTIONAL     #
#########################################
# num of patches 
num_patches = 

# earth radius
earth_radius =

# near_range
near_range =

# Doppler centroid
fd1 =

# SLC factor for ALOS2
# this value should be approximately 0.1. 
# Number of 'integers clipped' should be in the hundreds. If it is zero, increase this value. If it is millions, decrease it.
SLC_factor = 2.0


#####################################
#   parameters for make topo_ra     #
#   - dem2topo_ra.csh               #
#####################################
# subtract topo_ra from the phase
#  (1 -- yes; 0 -- no)
topo_phase = 1
# if above parameter = 1 then one should have put DEM.grd in topo/

# topo_ra shift (1 -- yes; 0 -- no)
shift_topo = 1

####################################################
#   parameters for make and filter interferograms  #
#   - intf.csh                                     #
#   - filter.csh                                   #
####################################################

# filters 
# look at the filter/ folder to choose other filters
filter_wavelength = 100

# decimation of images 
# decimation control the size of the amplitude and phase images. It is either 1 or 2.
# Set the decimation to be 1 if you want higher resolution images.
# Set the decimation to be 2 if you want images with smaller file size.
# 
dec_factor = 1

#####################################
#   parameters for unwrap phase     #
#   - snaphu.csh                    #
#####################################
# correlation threshold for snaphu.csh (0~1)
# set it to be 0 to skip unwrapping.
threshold_snaphu = 0.4

# region to unwrap in radar coordinates (leave it blank if unwrap the whole region)
#  example format 500/10800/500/27200  - OPTIONAL
region_cut =

# use landmask (1 -- yes; else -- no)
switch_land = 0

# change default patch size for Goldstein filter (default: 16)
psize =

# replace correlation file used for mask with a user-defined file - only for intf_tops.csh currently
corr_file =

#
# Allow phase discontinuity in unrapped phase. This is needed for interferograms having sharp phase jumps.
# defo_max = 0 - used for smooth unwrapped phase such as interseismic deformation
# defo_max = 65 - will allow a phase jump of 65 cycles or 1.82 m of deformation at C-band
#
defomax = 0.00001

#####################################
#   parameters for geocode          #
#   - geocode.csh                   #
#####################################
# correlation threshold for geocode.csh (0~1)
# set it to 0 to skip geocoding
threshold_geocode = 0

